# Core
Django==5.2.13
djangorestframework==3.16.1
django-cors-headers==4.9.0
django-environ==0.13.0
psycopg2-binary==2.9.9
gunicorn==22.0.0

# Auth
djangorestframework-simplejwt==5.5.1

# Celery + Redis
celery==5.4.0
redis==5.1.1
django-celery-results==2.6.0
django-celery-beat==2.9.0

# AWS S3
boto3==1.35.30
django-storages==1.14.4

# Security
django-ratelimit==4.1.0

# Payments
razorpay==2.0.1
stripe==15.0.1

# Utilities
Pillow==12.2.0
qrcode==8.0
pydyf==0.10.0
weasyprint==62.3
python-slugify==8.0.4
cryptography==45.0.7
openpyxl==3.1.5

# Observability
sentry-sdk[django,celery]==2.20.0
structlog==24.4.0

# Testing
pytest==8.3.3
pytest-django==4.9.0
factory-boy==3.3.1
faker==30.3.0
django-extensions==3.2.3
